# Telegram Bot Token
BOT_TOKEN=8787075401:AAHZ0np6iPo6j6Ysw_et5bd6PCf5ip4tbNY

# Admin User ID
ADMIN_ID=7995698204

# API Configuration (Optional - add if needed)
API_URL=https://bitrahq.com/api/v1/services.php
API_KEY=ef209f45e59848126a807ef654d36e9c
