BOT_TOKEN=8787075401:AAHZ0np6iPo6j6Ysw_et5bd6PCf5ip4tbNY
SUPER_ADMIN_ID=7995698204
ADMIN_IDS=8573464770
API_KEY=ef209f45e59848126a807ef654d36e9c
API_BASE_URL=https://bitrahq.com/api/v1/services.php
DATABASE_PATH=./bot_data.db
NODE_ENV=production
